_site
.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
.sass-cache
.jekyll-metadata
assets/fonts/Open_Sans.zip
assets/fonts/Crimson_Text (1).zip
assets/fonts/Crimson_Text (2).zip
assets/fonts/Crimson_Text.zip
